<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <!-- Logo/Brand -->
    <a class="navbar-brand" href="/listing">
      <div class="brand-container">
        <i class="fas fa-home brand-icon"></i>
        <span class="brand-text">TripSpot</span>
      </div>
    </a>

    <!-- Mobile Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listing">
            <i class="fas fa-search me-2"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listing">
            <i class="fas fa-list me-2"></i>Explore Stays
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link highlight-link" href="/listing/new">
            <i class="fas fa-plus me-2"></i>List Your Place
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/auth/login">
            <i class="fas fa-user me-2"></i>Login
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
